$theme-colors: (
	light: (
		text: #0f0f0f,
		background: #f6f6f6,
		control-background: rgb(246, 246, 246),
		primary: rgb(2, 6, 23),
		primary-hover: rgb(30, 41, 59),
		primary-text: rgb(255, 255, 255),
		primary-hover-text: rgb(255, 255, 255),
		secondary: rgb(241, 245, 249),
		secondary-hover: rgb(226, 232, 240),
		secondary-text: rgb(71, 85, 105),
		secondary-hover-text: rgb(51, 65, 85),
		success: rgb(34, 197, 94),
		success-hover: rgb(22, 163, 74),
		success-text: rgb(255, 255, 255),
		success-hover-text: rgb(255, 255, 255),
		warning: rgb(249, 115, 22),
		warning-hover: rgb(234, 88, 12),
		warning-text: rgb(255, 255, 255),
		warning-hover-text: rgb(255, 255, 255),
		danger: rgb(239, 68, 68),
		danger-hover: rgb(220, 38, 38),
		danger-text: rgb(255, 255, 255),
		danger-hover-text: rgb(255, 255, 255),
		info: rgb(14, 165, 233),
		info-hover: rgb(2, 132, 199),
		info-text: rgb(255, 255, 255),
		info-hover-text: rgb(255, 255, 255),
		help: rgb(168, 85, 247),
		help-hover: rgb(147, 51, 234),
		help-text: rgb(255, 255, 255),
		help-hover-text: rgb(255, 255, 255),
	),

	dark: (
		text: #f6f6f6,
		background: #18181c,
		control-background: #303033,
		primary: rgb(250, 250, 250),
		primary-hover: rgb(228, 228, 231),
		primary-text: rgb(9, 9, 11),
		primary-hover-text: rgb(9, 9, 11),
		secondary: rgb(39, 39, 42),
		secondary-hover: rgb(63, 63, 70),
		secondary-text: rgb(228, 228, 231),
		secondary-hover-text: rgb(228, 228, 231),
		success: rgb(74, 222, 128),
		success-hover: rgb(134, 239, 172),
		success-text: rgb(5, 46, 22),
		success-hover-text: rgb(5, 46, 22),
		warning: rgb(251, 146, 60),
		warning-hover: rgb(253, 186, 116),
		warning-text: rgb(67, 20, 7),
		warning-hover-text: rgb(67, 20, 7),
		danger: rgb(248, 113, 113),
		danger-hover: rgb(252, 165, 165),
		danger-text: rgb(69, 10, 10),
		danger-hover-text: rgb(69, 10, 10),
		info: rgb(56, 189, 248),
		info-hover: rgb(125, 211, 252),
		info-text: rgb(8, 47, 73),
		info-hover-text: rgb(8, 47, 73),
		help: rgb(192, 132, 252),
		help-hover: rgb(216, 180, 254),
		help-text: rgb(59, 7, 100),
		help-hover-text: rgb(59, 7, 100),
	),
);
