$theme-colors: (
	light: (
		default: #ffffff,
		default-hover: #ecf5ff,
		primary: #409eff,
		primary-hover: rgb(51, 126, 204),
		success: #67c23a,
		success-hover: rgb(82, 155, 46),
		warning: #e6a23c,
		warning-hover: rgb(184, 130, 48),
		danger: #f56c6c,
		danger-hover: rgb(196, 86, 86),
		error: #f56c6c,
		error-hover: rgb(196, 86, 86),
		info: #909399,
		info-hover: rgb(115, 118, 122),
		text: #0f0f0f,
		background: #f6f6f6,
		control-background: rgb(246, 246, 246),
	),

	dark: (
		default: rgb(20, 20, 20),
		default-hover: rgb(24, 34, 43),
		primary: #409eff,
		primary-hover: rgb(102, 177, 255),
		success: #67c23a,
		success-hover: rgb(133, 206, 97),
		warning: #e6a23c,
		warning-hover: rgb(235, 181, 99),
		danger: #f56c6c,
		danger-hover: rgb(247, 137, 137),
		error: #f56c6c,
		error-hover: rgb(247, 137, 137),
		info: #909399,
		info-hover: rgb(166, 169, 173),
		text: #f6f6f6,
		background: #18181c,
		control-background: #303033,
	),
);
